.char-comp {
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.add-inputs {
  display: block;
}

.add-inputs .add-profile {
  display: flex;
}

.add-detail {
  width: 55%;
  height: 50px;
}

.char-comp .indexs {
  width: 100%;
  height: 50px;
}

.indexs {
  display: flex;
  width: 100%;
  text-align: start;
  align-items: center;
}
.indexs .infos {
  display: flex;
  flex-grow: 1;
}
.indexs .infos .profile {
  display: flex;
}
.indexs .info {
  margin: auto 5px;
}
.indexs .infos .profile {
  width: 100%;
}
.indexs .info.birth {
  width: 30px;
}
.indexs .info.name {
  width: 140px;
}.indexs .info.fam {
  width: 170px;
}.indexs .info.gen {
  width: 30px;
}.indexs .info.unit {
  width: 110px;
}
.indexs .info.party {
  width: 160px;
}

.indexs .profile .detail {
  width: 650px;
}

.indexs .btn-container {
  width: 200px;
  position: absolute;
  right: 0;
}
.char-comp button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: blanchedalmond;
  font-weight: 600;
  margin: auto 2px;
  transition: .2s;
}
.char-comp button:hover {
  border: 1px solid blanchedalmond;
  background-color: rgb(238, 162, 48);
  color: white;
}