.fam-comp {
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.fam-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.fams {
  margin: 5px 15px;
}

.fams:hover {
  transform: scale(1.1);
  color: gold;
  cursor: pointer;
}

.fams span {
  color: yellow;
}
