.main {
  height: 90vh;
  width: 100%;
  position: relative;
}

.main h1 {
  margin: auto;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 120px;
}
.main h2 {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
}
