.MGH {
  display: flex;
  width: 100vw;
  height: calc(100vh - 70px);
}

.MGH .sidebar {
  width: 250px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MGH .sidebar input {
  margin-bottom: 6px;
  padding: 5px;
  width: 90%;
}

.MGH .sidebar button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.MGH .grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* 가로 30 */
  grid-template-rows: repeat(16, 1fr);    /* 세로 16 */
  gap: 1px;
  flex-grow: 1;
  background-color: #333;
}

.MGH .cell {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.MGH .cell.highlight {
  background-color: rgb(255, 255, 142);
}

.MGH .cell.warning {
  background-color: plum;
}

/* .MGH .cell.trap { */
  /* background-color: no; */
/* } */

.MGH .character {
  width: 50px;
  height: 50px;
  background-color: rgb(67, 75, 184);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: 13px;
}
.MGH .character.used {
  background-color: red;
}

.alerts {
  width: 100%;
  background-color: #f4f4f4;
  margin-top: 10px;
  box-sizing: border-box;
}

.alert-message {
  padding: 8px;
  background-color: #faffdd;
  border: 1px solid #ffcccc;
  color: red;
  font-weight: bolder;
}